@charset "UTF-8";

#header_bottom a:nth-child(1){
	border-bottom: 4px solid #DA292A;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#section_legend_img_back{
	width: 100%;
	height: 688px;
	background: url("../images/legends/back/fuse_32_crop_bg.png");
	background-size: cover;
	background-position: 50% 10%;
	margin-top: 0;
}
#section_legend_img_front{
	width: 960px;
	height: 640px;
	margin: 48px auto auto;
	background: center url("../images/legends/front/fuse_32_crop.png");
	background-size: cover;
}
#section_gradient{
	width: 100%;
	height: 480px;
	position: relative;
	top: -96px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #05162B 18%);
	display: flex;
	flex-direction: column;
	align-items: center;
}
#s_g_name{
	display: flex;	
	flex-direction: column;
	align-items: center;
}
#s_g_n_job,#s_g_n_name{
	color: #F5F5F5;
}
#s_g_n_job,.abil_desc{
	font-size: 14px;
	letter-spacing: 1px;
}
#s_g_n_name{
	margin-top: 12px;
	font-size: 48px;
}
/* --------------------------------------------------------------- */
#s_g_legends{
	width: 1440px;
	padding-top: 64px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.s_g_l_class{
	margin: 20px 32px;
}
.s_g_l_c_wrap{
	display: flex;
}
.s_g_l_c_deco{
	border-top: 4px solid #DA292A;
	display: flex;
	justify-content: center;
}
.s_g_l_c_d_mid{
	box-sizing: border-box;
	width: 192px;
	height: 24px;
	background: #DA292A;
	color: #F5F5F5;
	text-align: center;
	padding-top: 2px;
}
.s_g_l_c_d_left,.s_g_l_c_d_right{
	position: relative;
	border-bottom: calc( 24px * 1.732 ) solid #05162B;
	border-left: 24px solid transparent;
	border-right: 24px solid transparent;
}
.s_g_l_c_d_left{
	left: 24px;
}
.s_g_l_c_d_right{
	right: 24px;
}
.legends_profile{
	width: 84px;
	height: 84px;
	margin: 0 4px;
	border-top: 4px solid #DA292A;
	background: center;
	background-size: cover;
}
.legends_profile:hover{
	cursor: pointer;
	border-top: 4px solid #27CD66;
}
.legends_profile:first-child,.legends_profile:last-child{
	margin: 0;
}
.legends_profile:first-child{
	margin-right: 4px;
}
.legends_profile:last-child{
	margin-left: 4px;
}
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
#section_ability{
	width: 1440px;
	height: 720px;
	margin-top: -48px;
	margin-bottom: 48px;
	background: center url("../images/legends/classes/class_assault.png");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
#abil_left{
	width: 800px;
	display: flex;
	flex-direction: column;
}
#abil_btn_wrap{
	display: flex;
	justify-content: space-around;
}
.abil_btn{
	width: 72px;
	height: 72px;
	border: none;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
#pas{
	border: 2px solid #27CD66;
}
.abil_btn img{
	height: 60px;
}
#abil_line{
	margin: 24px 0;
	height: 2px;
	background-color: #445C76;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.outer_circle{
	width: 16px;
	height: 16px;
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#pas_crcl_brdr{
	border: 2px solid #27CD66;
}
.inner_circle{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #445C76;
}
#pas_crcl{
	background-color: #27CD66;
}
.abil_li{
	height: 200px;
	margin: 0 48px;
}
.abil_type{
	color: #F5F5F5;
	margin-bottom: 6px;
	font-size: 12px;
}
.abil_name{
	margin-bottom: 8px;
	color: #DA292A;
	font-size: 20px;
}
.abil_desc{
	color: #F5F5F5;
}
.abil_vid{
	width: 640px;
	height: 360px;
}
#tac_li,#ult_li,#tac_vid,#ult_vid{
	display: none;
}
