@charset "UTF-8";


#header_bottom a:nth-child(3){
	border-bottom: 4px solid #DA292A;
}
#section_wrap,#section_content{
	width: 1280px;
	margin: 0 auto;
}
#section_wrap{
	margin-top: 48px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#s_w_title{
	font-size: 36px;
	color: #DA292A;
}
#s_w_maps{
	display: flex;
	margin-right: 36px;
}
.map{
	width: 144px;
	height: 144px;
	box-sizing: border-box;
	border-top: 4px solid #DA292A;
	margin-left: -12px;
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	background-position: 50% 100%;
	background-size: auto 144px;
}
.map:hover{
	cursor: pointer;
	border-top: 4px solid #27CD66;
}
#section_content{
	height: 240px;
	margin-top: 36px;
	letter-spacing: 1px;
	color: #F5F5F5;
}
#section_img{
	width: 100%;
	height: 600px;
	margin-top: 48px;
	background: center url("../images/maps/olympus.png");
	background-size: cover;
	border-top: 8px solid #DA292A;
}