body {

}

#lost_form {
  border: 1px solid black;
  width: 1000px;
  margin: 0 auto;

  background-image: url(img/backgroundimg.jpg);
}

#first {
  width: 100%;
}

#logo {
  width: 240px;
  height: 180px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 70px;
}

#find {
  display: inline-block;
  width: 350px;
  height: 180px;
  vertical-align: top;
  margin-top: 50px;
  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 180px;
}

#hr {
  width: 800px;
}

#div1 {
  text-align: center;
  color: white;
  margin-top: 30px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
}

table {
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

#td_name {
  width: 140px;
  height: 60px;
  background: #27222f;
  color: white;
}

#name_input {
  width: 271px;
  height: 60px;
  background: #27222f;
}

#td_id {
  width: 140px;
  height: 60px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #27222f;
  color: white;
}

#id_input {
  width: 271px;
  height: 60px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #27222f;
}

#td_input1 {
  width: 100%;
  height: 100%;
  background: #27222f;
  color: white;
  border: none;
  outline: none;
}

#td_input2 {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #27222f;
  color: white;
  border: none;
  outline: none;
}

#check {
  width: 190px;
  height: 50px;
  background: #405A79;
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
}
